.idea/
*.iml

# Exceptions
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
!.idea/runConfigurations
!.idea/runConfigurations/*

.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

.kotlin/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
device-results/
build/reports/
Marathon.log
allure-results/
allure-report/
merged-allure-results/
.DS_Store
Thumbs.db
*.class
*.kotlin_module
target/
.vscode/
*.tmp
*.swp
*.orig